---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/HeroSection.astro'
import AboutSection from '@components/AboutSection.astro'
import ExperienceSection from '@components/ExperienceSection.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout>
		<main class="flex flex-col px-6 py-12 gap-12 items-center">
			<HeroSection />
			<AboutSection />
			<ExperienceSection />
		</main>
	</Layout>
</html>

