---
---

<section class="w-full max-w-prose">
  <div class="flex flex-col gap-2">
    <div>
      <h2 class="font-roman text-red-800 text-xl ">About</h2>
      <div class="bg-gradient-to-r from-red-800 to-transparent h-[1px] w-full"></div>
    </div>
    <p class="font-proximaNova text-gray-600 text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac convallis lectus. Quisque pharetra at risus eget malesuada. Aliquam facilisis fermentum nibh, in semper nibh. Donec lacinia dui id dolor sollicitudin, sed volutpat erat congue. Praesent condimentum quam eget felis ultricies, et semper est luctus. Donec et nibh id orci rhoncus facilisis. Vestibulum ut lobortis nunc. Pellentesque mattis diam tellus, id vehicula nisl dapibus at.
    </p>
  </div>
</section>
