---
import Section from '@components/Section.astro'
import Quote from '@components/Quote.astro'
---

<Section title="About">
  <p slot="content" class="font-proximaNova text-gray-600 text-lg"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac convallis lectus. Quisque pharetra at risus eget malesuada. Aliquam facilisis fermentum nibh, in semper nibh. Donec lacinia dui id dolor sollicitudin, sed volutpat erat congue. Praesent condimentum quam eget felis ultricies, et semper est luctus. Donec et nibh id orci rhoncus facilisis. Vestibulum ut lobortis nunc. Pellentesque mattis diam tellus, id vehicula nisl dapibus at.</p>
  <Quote slot="quote"/>
</Section>

