---
import Section from '@components/Section.astro'
import Quote from '@components/Quote.astro'
---

<Section title="About">
  <div slot="content" class="flex flex-col gap-4">
    <p class="font-proximaNova text-gray-600"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac convallis lectus. Quisque pharetra at risus eget malesuada. Aliquam facilisis fermentum nibh, in semper nibh.</p>
    <p class="font-proximaNova text-gray-600"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at iaculis ante. Morbi luctus justo neque, ut consequat lorem pellentesque id. Ut ut ornare ex. Maecenas scelerisque augue ornare tempor porttitor. Curabitur eleifend tincidunt augue, sit amet vestibulum justo scelerisque vitae. </p>
  </div>
  <Quote slot="quote"/>
</Section>

