---
---

<footer class="flex flex-col gap-2 font-proximaNova">
  <span class="text-md text-center text-gray-600">
    Made by <span class="font-semibold text-red-800"> Me </span>
  </span>
  <span class="text-center">The design is inspired by the cover of the book <span class="font-semibold text-red-800">Meditations</span> by Marcus Aurelius</span>
</footer>
