---
import WorldIcon from '@icons/WorldIcon.astro'
import GithubIcon from '@icons/GithubIcon.astro'
import LinkedInIcon from '@icons/LinkedInIcon.astro'
import MailIcon from '@icons/MailIcon.astro'
import GoodreadsIcon from '@icons/GoodreadsIcon.astro'
---

<header x-data="{visible : false}" x-init="$nextTick(() => {visible = true})" x-cloak class="flex flex-col gap-4 w-full max-w-prose lg:max-w-md transition-[opacity,transform] delay-150 duration-500 lg:fixed lg:l-0 lg:t-0 lg:py-8 lg:px-6 lg:border-l-red-800 lg:border-l-[1px]" :class="visible ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-6'">
  <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="font-roman text-gray-800 font-bold text-2xl">Marc Perez de Tudela</h1>
        <h2 class="text-2xl font-semibold text-red-800">Fullstack Developer</h2>
        <div class="flex gap-2 text-gray-600 items-center">
          <WorldIcon/>
          <span class="text-sm whitespace-nowrap">Barcelona, Spain</span>
        </div>
      </div>
    <p class="text-gray-600 text-md pt-2 pb-2 max-w-sm">Passionate about philosophy and programming. +2 years of experience as profesional developer.</p>
    <div class="flex gap-3 lg:gap-5 items-center lg:pt-2">
      <GithubIcon/>
      <MailIcon/>
      <LinkedInIcon/>
      <GoodreadsIcon/>
    </div>
  </div>
</header>

