---
import WorldIcon from '@icons/WorldIcon.astro'
import GithubIcon from '@icons/GithubIcon.astro'
import LinkedInIcon from '@icons/LinkedInIcon.astro'
import MailIcon from '@icons/MailIcon.astro'
import GoodreadsIcon from '@icons/GoodreadsIcon.astro'
---

<header class="flex flex-col gap-4 w-full max-w-prose">
  <div>
    <div class="flex flex-col gap-2">
      <h1 class="font-roman text-red-800 font-bold text-2xl">Marc <span class="text-gray-800">Perez de Tudela</span></h1>
      <h2 class="text-lg font-semibold text-red-800 ">Fullstack Developer.</h2>
    </div>
    <div class="flex gap-2 text-gray-600 items-center">
      <WorldIcon/>
      <span class="text-sm whitespace-nowrap">Barcelona, Spain</span>
    </div>
  </div>
  <p class="text-gray-600 text-md pt-2 pb-2">Passionate about philosophy and programming. +2 years of experience as profesional developer.</p>
  <div class="flex gap-3 items-center">
    <GithubIcon/>
    <MailIcon/>
    <LinkedInIcon/>
    <GoodreadsIcon/>
  </div>
</header>


