---
import Section from '@components/Section.astro'
import Quote from '@components/Quote.astro'
---
<Section title="Projects">
  <div slot="content" class="flex flex-col gap-8 font-proximaNova">  
    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-2.5 items-center">
          <span class="text-xl font-semibold text-gray-800">Programming Project 1</span>
          <svg class="text-red-800 size-5" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-10 10" /><path d="M8 7l9 0l0 9" /></svg>
        </div>
        <span class="text-lg font-semibold text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-2.5 items-center">
          <span class="text-xl font-semibold text-gray-800">Programming Project 1</span>
          <svg class="text-red-800 size-5" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-10 10" /><path d="M8 7l9 0l0 9" /></svg>
        </div>
        <span class="text-lg font-semibold text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-2.5 items-center">
          <span class="text-xl font-semibold text-gray-800">Programming Project 1</span>
          <svg class="text-red-800 size-5" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-10 10" /><path d="M8 7l9 0l0 9" /></svg>
        </div>
        <span class="text-lg font-semibold text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

  </div>
  <Quote slot="quote">
</Section>
