---
import Section from '@components/Section.astro'
import Quote from '@components/Quote.astro'
import OpenIcon from '@icons/OpenIcon.astro'
---
<Section title="Projects">
  <div slot="content" class="flex flex-col gap-8 font-proximaNova">  
    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-1 items-center">
          <span class="text-lg font-semibold leading-tight text-gray-800">Programming Project 1</span>
          <OpenIcon/>
        </div>
        <span class="font-semibold text-md leading-tight text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-1 items-center">
          <span class="text-lg font-semibold leading-tight text-gray-800">Programming Project 1</span>
          <OpenIcon/>
        </div>
        <span class="font-semibold text-md leading-tight text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

    <article slot=content class="flex flex-col gap-4">
      <div class="flex flex-col">
        <div class="flex gap-1 items-center">
          <span class="text-lg font-semibold leading-tight text-gray-800">Programming Project 1</span>
          <OpenIcon/>
        </div>
        <span class="font-semibold text-md leading-tight text-red-800">Project concept</span>
      </div>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.
      </p>
    </article>

  </div>
  <Quote slot="quote">
</Section>
