---
---

<div class="relative flex flex-col gap-1.5 w-full border-l-2 border-red-800 font-proximaNova italic pt-4 pb-1 pl-8 text-gray-600 before:absolute before:top-0 before:left-1 before:content-['‘‘'] before:font-proximaNova before:text-red-800 before:text-5xl">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae</p>
<span class="text-red-800">Jhon Doe</span>
</div>
