---
import Header from './Header.astro'
import Footer from './Footer.astro'
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Link Inspector home page." />
    <title>Link Inspector</title>
    <title>Portfolio</title>
  </head>
  <body class="flex flex-col items-center bg-neutral-100 leading-relaxed font-proximaNova">

		<div class="w-full flex flex-col gap-1.5">
			<div class="w-full h-1.5 bg-red-800"/>
			<div class="w-full h-0.5 bg-red-800"/>
		</div>

		<div class ="grid grid-cols-1 lg:grid-cols-2 justify-items-center px-6 py-12 lg:pt-24 gap-y-12 lg:gap-x-24 lg:max-w-screen-2xl">
			<div class="lg:relative lg:pl-16 w-full">
				<Header />
			</div>
      <slot class="grow" />
      <Footer />
    </div>

		<div class="w-full flex flex-col gap-1.5">
			<div class="w-full h-0.5 bg-red-800"/>
			<div class="w-full h-1.5 bg-red-800"/>
		</div>

  </body>
</html>


<style is:global>
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: "Roman";
  src: url("/fonts/Roman-SD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima-Nova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[x-cloak] { display: none !important; }
</style>
