---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Link Inspector home page." />
    <title>Link Inspector</title>
    <title>Portfolio</title>
  </head>
  <body class="flex flex-col items-center bg-slate-200 leading-relaxed font-proximaNova">
    <slot class="grow" />
  </body>
</html>


<style is:global>
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: "Roman";
  src: url("/fonts/Roman-SD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima-Nova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[x-cloak] { display: none !important; }
</style>
